---
import BaseLayout from "../layouts/BaseLayout.astro";
const currentPage = "about";
const pageTitle = "About Me";
const identity = {
    firstName: "Rincewind",
    country: "Ankh-Morpork",
    occupation: "Wizard",
    hobbies: [
        "Reading",
        "Writing",
        "Exploring the Unseen University",
        "Avoiding Death",
        "Drinking Tea",
    ],
};
const skills = [
    "Running away from danger",
    "Accidentally setting things on fire",
    "Talking to inanimate objects",
    "Getting lost in the Library",
];
const happy = true;

/*
    The Astro <style> tag can also reference any variables from your frontmatter script using the
    define:vars={ {...} } directive. You can define variables within your code fence, then use them as
    CSS variables in your style tag (!)
 */
const skillColor = "tomato";
const fontWeight = "bold";
---
<BaseLayout currentPage={currentPage} pageTitle={pageTitle}>
    <style define:vars={{ skillColor, fontWeight }}>
        h1 {
            /* This is scoped to this specific about.astro component! */
            color: Purple;
            font-size: 4rem;
        }
        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
        }
    </style>
    <h1>This is a scoped H1</h1>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>First Name: {identity.firstName}</li>
        <li>Country: {identity.country}</li>
        <li>Occupation: {identity.occupation}</li>
    </ul>
    <h2>Hobbies:</h2>
    <ul>
        {identity.hobbies.map((hobby) => <li>{hobby}</li>)}
    </ul>
    <h2>My skills:</h2>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    <p>I'm currently: {happy === true ? "Happy!" : "Not very happy"}</p>
</BaseLayout>
